.productDetailsImage {
  height: 22rem;
  width: 27rem;
}
@media screen and (max-width: 514px) {
  .productDetailsImage {
    height: 15rem;
    width: 19rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
  .productDetailsImage {
    height: 24rem;
    width: 22rem;
    margin: 0 auto;
  }
}
